@import "../../../scss/index.scss";

.footer {
  background-color: $background-dark-web;
  border-top: 3px solid $primary-color;

  h3 {
    color: $font-light;
    font-weight: bold;
    text-align: center;
  }

  &__copyright {
    margin-top: 30px;

    .ant-col {
      color: $primary-color-dark;

      &:last-of-type {
        text-align: right;
      }
    }
  }
}
