@import "../../../scss/index.scss";

.register-form {
  &__button {
    width: 100%;
    font-size: 0em + 20px / $defaultFontSize;
    background-color: $primary-color;
    color: $font-light;
    height: 42px;

    &:hover {
      background-color: $primary-color-hover;
      color: $font-light;
    }
    &:focus,
    &:active {
      background-color: $primary-color;
      color: $font-light;
      border: 0;
    }
  }
}
