@import "../../../scss/index.scss";

.blog {
  &__add-post {
    text-align: right;
    margin-bottom: 20px;
  }

  // hide alert from tinyMCE
  .tox-notification.tox-notification--in.tox-notification--warning {
    display: none !important;
  }
}
